/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f8f8f8;
    color: #111;
}

/* HEADER */
.header {
    background: #ffffff;
    padding: 25px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 4px;
}

nav a {
    margin-l
